*{
    margin: 0;
    padding: 0;
}

h2{
    text-align: center;
    font-size: 50px;
    color: red;
}
h2::before{
    content: "Age-";

}
h2::after{
    content: "-Pora";
}
p::before{
    content: ' " ';
}
p::after{
    content: ' " ';
}
p{
    font-size: 20px;
    text-align: center;
}

/* Animiton-section */

.click-div-1{
    text-align: center;
    margin-top: 50px;
}
.btn-1{
    text-decoration: none;
    display: inline-block;
    background-color: #6c5ce7;
    padding: 15px 40px;
    font-size: 40px;
    border-radius: 10px;
    color: #fff;
    position: relative;
    z-index: 1;
}
.btn-1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width:100%;
    background-color:#fd79a8;
    border-radius: 10px;
    transition: .4s;
    z-index: -1;
}
.btn-1:hover::before{
   height: 100%;
}

/* 2st animition-setion */

.click-div-2{
    text-align: center;
    margin-top: 50px;
}
.btn-2{
    text-decoration: none;
    display: inline-block;
    background-color: #d63031;
    padding: 15px 40px;
    font-size: 40px;
    border-radius: 10px;
    color: #fff;
    position: relative;
    z-index: 1;
}
.btn-2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:0;
    background-color:#00cec9;
    border-radius: 10px;
    transition: .4s;
    z-index: -1;
}
.btn-2:hover::before{
    width: 100%;
 }

 /* 3nd animition-section */

 .click-div-3{
    text-align: center;
    margin-top: 50px;
}
.btn-3{
    text-decoration: none;
    display: inline-block;
    background-color:#ff9f43;
    padding: 15px 40px;
    font-size: 40px;
    border-radius: 10px;
    color: #fff;
    position: relative;
    z-index: 1;
}
.btn-3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width:0;
    background-color:#2e86de;
    border-radius: 10px;
    transition: .4s;
    z-index: -1;
}

 .btn-3:hover::before{
    width: 100%;
 }
/* 4th animition-section */
.click-div-4{
    text-align: center;
    margin-top: 50px;
}
.btn-4{
    text-decoration: none;
    display: inline-block;
    background-color:#341f97;
    padding: 15px 40px;
    font-size: 40px;
    border-radius: 10px;
    color: #fff;
    position: relative;
    z-index: 1;
}
.btn-4::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0;
    width:100%;
    background-color:#01a3a4;
    border-radius: 10px;
    transition: .4s;
    z-index: -1;
}

 .btn-4:hover::before{
    height: 100%;
 }

 /* list-item-1 */
 .list-item-1{
     text-decoration: none;
 }
 .list-item-1 li{
     margin-left: 50px;
     list-style: none;
     font-size: 30px;
 }
 .list-item-1 li::before {
	content: "\f00c";
	font-family: "Font Awesome 5 Free";
	font-weight: 600;
	color: red;
	font-size: 30px;
	display: inline-block;
	margin-right: 15px;
}
/* list-item-2 */

.list-item-2 {
	text-decoration: none;
}
.list-item-2 li{
    margin-left: 50px;
    list-style: none;
    font-size: 30px;
}
.list-item-2 li::before {
   content: "\f058";
   font-family: "Font Awesome 5 Free";
   font-weight: 600;
   color:blue;
   font-size: 30px;
   display: inline-block;
   margin-right: 15px;
}

/* list-item-3 */

.list-item-3 {
	text-decoration: none;
}
.list-item-3 li{
    margin-left: 50px;
    list-style: none;
    font-size: 30px;
}
.list-item-3 li::before {
   content: "\f560";
   font-family: "Font Awesome 5 Free";
   font-weight: 600;
   color:rgb(45, 151, 151);
   font-size: 30px;
   display: inline-block;
   margin-right: 15px;
}